* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(42, 46, 49);
  color: #4d4f52;
  font-family: "Roboto";
}
.settings-container {
  margin-top: 0;
  width: 320px;
  min-height: 100vh;
  background: #dbe0e4;
}

.header h1 {
  margin: 20px 10px 0;
}

.search {
  background-color: lightgrey;
  border-radius: 8px;
  width: 92%;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
}

.search img {
  margin: 10px;
}

.search input {
  flex-grow: 1;
  background: none;
  border: none;
  font-size: 1.1rem;
}

.user {
  background-color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 4px 15px;
}

.user-settings {
  flex-grow: 1;
  margin: 0 10px;
}
.username {
  font-size: 0.8rem;
}

.setting-wrap {
  margin-top: 50px;
  background-color: white;
  overflow: hidden;
}

.settings {
  font-size: 0.6rem;
}

.setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 54px 1px #cbced1;
  background-color: white;
  margin-top: 1px;
  padding: 5px;
}

.setting-name {
  flex-grow: 1;
  margin: 0 10px;
  font-size: 1.1rem;
  font-weight: normal;
}

.setting-status {
  color: #999da1;
  font-size: 0.9rem;
}
.arrow {
  margin: 0 15px;
}
